@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Stanford University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Stanford University</h2>
        <p>
            Programming courses with training on the project. 
            A minimum of theory, a maximum of real experience and tasks. 
            Learning a programming language, tools, 
            teamwork under the guidance of a mentor.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can create such an application by taking this course..</p>
        <p><a class="btn btn-default" href="https://foxminded.com.ua/c_sharp_dot_net/">See our courses &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://git.foxminded.com.ua/StudentEvgen/foxmuniversity">See project source code &raquo;</a></p>
    </div>
</div>
